html, body{
  background-color: #3399FF;
  text-align:center;
  line-height: 50%;
}

#weather{
  position: relative;
  margin-top: 15%;
}

.head{
  font-size: 60px;
}

.location{
  font-size: 35px;
  margin: 0 auto;
}

.tempDisplay{
    display: inline-block;
    margin: 0 auto;
    font-size: 50px;
    background-color: #aaa;
}

.tempDisplay p{
  margin: 0 auto;
}

.weatherDisplay{
  font-size: 35px;
  margin: 0 auto;
}
